body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(182, 182, 182);
}

.line {
    /* for dev purposes of aligning elements */
    height: 200px;
    background-color: red;
    width: 1px;
}

header {
    position: fixed;
    position: top;
    margin: 0;
    height: 15vh;
    width: 97.5vw;
    display: flex;
    background-color: rgb(182, 182, 182);
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 30px rgb(182, 182, 182);
}

header h1 {
    color: mediumblue;
    margin: 0;
    width: 100%;

}

#booksRead {
    text-align: end;
}

#newBookButton {
    background-color: rgb(182, 182, 182);
    color: mediumblue;
    font-family: serif;
    font-size: 30px;
    font-weight: bolder;
    width: 34rem;
    height: 5rem;
    border-radius: 50%;
    border: 0;
    box-shadow: 
        5px 5px 10px 0px gray,
        inset -5px -5px 10px 0px gray,
        inset 5px 5px 10px 0px rgba(255, 255, 255, 0.447);
}

#newBookButton:active {
    box-shadow: 
        inset 5px 5px 10px 0px gray,
        inset -5px -5px 10px 0px rgba(255, 255, 255, 0.447);
}

main{
    padding-top: 18vh;
}

.newBookForm {
    margin: 40px 30px 30px 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    background-color:rgb(206, 206, 206);
    box-shadow: inset 5px 5px 10px 0px gray;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.formWrapper label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formWrapper label, .newBookForm label {
    margin: 10px;
    color: mediumblue;
}



.booksList {
    width: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    min-height: 50px;
    border-radius: 25px;
    width: 85%;
    padding: 10px 25px 10px 25px;
    margin: 20px;
    box-shadow: 
        5px 5px 10px 0px gray,
        /* -5px -5px 10px 0px rgba(255, 255, 255, 0.447), */
        inset -5px -5px 10px 0px gray,
        inset 5px 5px 10px 0px rgba(255, 255, 255, 0.447);
}
